/* Typography */
body {
	color: #333;
	font-size: 16px;
}

h1 {
	font: 2em 'Geogia', 'Times', serif;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #ddd;
}

h2 {
	font: 1.5em 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	margin-bottom: 0.5em;
}

h3 {
	margin-top: 0;
	font: 1.2em 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
}

p {
	font: 0.8em 'Helvetica', 'Arial', sans-serif;
}

.example_container {
	margin: 2em 0;
	padding: 1em;
	background: #f9f9f9;
}
/* Typography */


/* Navbar */
.navbar {
	border: none;

	.search-input {
		background: transparent;
		border: none;
		color: #333;
		box-shadow: none;
		width: 300px;
		background-image: url( 'search.svg' );
		background-position: center left;
		background-repeat: no-repeat;
		padding-left: 30px;

		&:focus {
			background-image: url( 'search_active.svg' );
			background-position: center left;
			background-repeat: no-repeat;
			outline: none;
			box-shadow: none;
		}
	}

	.navbar-header {
		background: #f9f9f9;
		background-image: url( 'menu.svg' );
		background-position: center left -10px;
		background-repeat: no-repeat;

		a {
			color: #333;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}
/* Navbar */


/* Colors */
.colorblock {
	margin: 1em 0;
	padding: 0;
	padding-top: 160px;
	text-align: center;
	color: #fff;

	.variable {
		margin: 0;
		padding: 0.2em;
		background: #f9f9f9;
		font: 0.8em monospace;
		color: #333;
	}

	&.color-1 { background: #111; }
	&.color-2 { background: #222; }
	&.color-3 { background: #333; }
	&.color-4 { background: #444; }
	&.color-5 { background: #555; }
	&.color-6 { background: #666; }
	&.color-7 { background: #777; }
	&.color-8 { background: #888; color: #000; }
	&.color-9 { background: #999; color: #000; }
	&.color-10 { background: #aaa; color: #000; }
	&.color-11 { background: #bbb; color: #000; }
	&.color-12 { background: #ccc; color: #000; }
	&.color-13 { background: #ddd; color: #000; }
	&.color-14 { background: #eee; color: #000; }
	&.color-15 { background: #f9f9f9; color: #000; }

	&.color-blue-1 { background: #3C6AFF; }
	&.color-blue-2 { background: #294AB6; }
	&.color-green-1 { background: #00B28C; }
	&.color-green-2 { background: #006750; }

	&.color-red-1 { background: #E50000; }
	&.color-red-2 { background: #920000; }
	&.color-orange-1 { background: #FF4500; }
	&.color-orange-2 { background: #C22800; }
	&.color-yellow-1 { background: #FFB500; }
	&.color-yellow-2 { background: #BA7A00; }
}
/* Colors */


/* Theme */
.theme-color {
	border-top: 1.5em solid;
	padding-top: 1em;

	p {
		font-weight: bold;
	}

	&.theme-color-1 { border-color: #333; }
	&.theme-color-2 { border-color: #aaa; }
	&.theme-color-3 { border-color: #eee; }
}
/* Theme */


/* Icons */
.icon_grid {
	> div {
		display: table;
		margin-bottom: 1em;

		> p {
			font-size: 1em;
			word-break: break-word;
			width: 100px;
			vertical-align: middle;
			display: table-cell;
		}

		> img {
			display: table-cell;
			width: 40px;
			float: left;
		}
	}
}
/* Icons */