body {
	color: #333;
	font-size: 16px;
}

h1 {
	font: 2em 'Geogia', 'Times', serif;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #ddd;
}

h2 {
	font: 1.5em 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	margin-bottom: 0;
}

h3 {
	font: 1.2em 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
}

p {
	font: 0.8em 'Helvetica', 'Arial', sans-serif;
}

.example_container {
	margin: 2em 0;
	padding: 1em;
	background: #f9f9f9;
}

.search-input {
	background: transparent;
	border: none;
	color: #333;
	box-shadow: none;
	width: 300px;
	background-image: url( 'search.svg' );
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 30px;
}

.search-input:focus {
	background-image: url( 'search_active.svg' );
	background-position: center left;
	background-repeat: no-repeat;
	outline: none;
	box-shadow: none;
}

.navbar {
	border: none;
}

.navbar-header {
	background: #f9f9f9;
	background-image: url( 'menu.svg' );
	background-position: center left -10px;
	background-repeat: no-repeat;
}

.navbar-header a {
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
}